* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.white-links .nav-link {
  color: white;
  margin: 10px;
  font-size: 13.5px;
}
.btn-color {
  background-color: white;
  color: #053cc8;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  font-size: 13.5px;
}
.side-img {
  float: right;
  left: 25px;
  margin-top: 10px;
}
.info h1 {
  font-size: 32px;
  color: white;
}
.info p {
  font-size: 17px;
  color: white;
}
.btn-1 {
  color: #053cc8;
  background-color: white;
  border-radius: 6px;
  font-size: 17px;
}
.btn-2 {
  color: white;
  border-radius: 6px;
  font-size: 17px;
}

/* section 2 */
.hed1 {
  font-size: 30px;
  font-weight: 600;
  color: #053cc8;
  text-align: center;
  padding: 15px;
  margin: 15px;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  margin: 40px;
}
.box {
  flex: 1;
  background-color: #053cc8;
  color: white;
  padding: 10px;
  border-radius: 4px;
  height: 225px;
  width: 200px;
}
.writeup{

}
.writeup p {
  font-size: 12px;
  text-align: center;
}
.writeup h2 {
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
}

.img {
  text-align: center;
}

.btn3{
  background-color: white;
  color: #053cc8;
  cursor: pointer;
  border: white;
}
.btn:hover{
    background-color: white;
    color: #053cc8;
}

/* key features */
.keyContainer{
  display: grid;
  grid-template-columns: 1fr ;
  border: 0.5px solid #053cc8;
  gap: 5px;
  width: 80%;
  margin: 30px auto;
}
.keyimg img{
  width: 205px;
}
.key{
  display: flex;
  align-items: center;
  border: 1px solid #053cc8;
  padding-left: 20px;
  justify-content: space-between;
}
.keyimg{
  width: 50%;
  padding-left: 30px;
}
.keywriteup{
 padding: 30px;
 flex: 2;
}
.keywriteup h3{
  font-size: 20px;
  color: #FCB630;
  font-weight: 700;
}
.keywriteup p{
  font-size: 12px;
  color: #053cc8;
  font-weight: 500;
}
.keyBtn{
  background-color: #053cc8;
  color: white;
  border-radius: 6px;
  border: #053cc8;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  max-width: 150px;
}
/* about section */

.about{
  display: flex;
  gap: 30px;
  width: 90%;
  margin: 40px auto;
  justify-content: space-evenly;
}
.aboutWriteup{
  color: #053cc8;
  font-weight: 700;
  flex: 2;
  max-width: 50%;  
}
.aboutWriteup h3{
  font-weight: bold;
  font-size: 20px;
}
.aboutWriteup p{
  font-size: 15px;
}
.aboutBtn{
  background-color: #053cc8;
  color: white;
  border-radius: 6px;
  border: #053cc8;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  max-width: 150px;
}